<?xml version="1.0"?>
<!-- 
    
-->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=.;database=db_NetShop;UId=sa1;password=sa"/>
  </appSettings>
  <connectionStrings>
    <add name="db_NetShopConnectionString1" connectionString="Data Source=.;Initial Catalog=db_NetShop;Persist Security Info=True;User ID=sa1;pwd=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
           
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            
        -->
    <authentication mode="Windows"/>
    <!--
            
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>