
LoginTextBox
{
	height: 12px;
	width :107px;
}
.Logintr
{
	width :152px;
	height:18px;
}
.LoginTable
{
	height : 94px;
	width :178px;
	font-size :9pt;
	font-family :'Times New Roman';
	
}
.Loginbtn
{
	height :18px;
	width :40px;
}
